[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
toml = "*"
gunicorn = "*"
flask = "*"
lstm-model = {editable = true, path = "./packages/lstm_model"}
# TODO: dvc should in dev-packages, but it is required in api docker image to checkout a model
dvc = {version = "*", extras = ["all"]}

[dev-packages]
kaggle = "*"
pytest = "*"

[requires]
python_full_version = "3.8.5"
