<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <style type="text/css">
          body {
            background: black;
            color: white;
          }
          div.container {
            max-width: 500px;
            margin: 100px auto;
            border: 20px solid white;
            padding: 10px;
            text-align: center;
          }
          h4 {
            text-transform: uppercase;
          }
        </style>
    <title>How frequent is this password</title>
</head>
<body>
    <div class="container">
      <h4>DMIA sport intro: How frequent is this password?</h4>
      <p>
          <small>Kaggle competition: <a href="https://www.kaggle.com/c/dmia-sport-2019-fall-intro"> Link </a></small>
      </p>
        <form method="POST", action=/predict_press_button>
            <input type="text" name="password"/>
            <input type="submit" name="action" value="predict"/>
    </form>
    </div>


</body>
</html>
